<div
id="header">
<!-- The id is used to get the container and render its innerHTML to the pages -->
  <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 p-5 border-bottom">
    <div class="col-md-3 mb-2 mb-md-0">
      <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
        <svg class="bi" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
      </a>
    </div>

    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
      <li><a href="home.html" class="nav-link px-2">Home</a></li>
      <li><a 
        id="adminDashboard"
        href="adminDashboard.html" class="nav-link px-2">Admin Dashboard</a></li>
    </ul>

    <div 
    class="col-md-3 text-end">
      <button 
      id="logout-button"
      type="button" name="logout-button" class="btn btn-primary me-2"
      >Log Out</button>
      <button type="button" name="signin-button" class="auth-button btn btn-outline-primary me-2"
      onclick="window.location.href = 'index.html'"
      >Login</button>
      <button type="button" name="signUp-button" class="auth-button btn btn-primary me-2"
      onclick="window.location.href = 'signup.html'"
      >Sign-up</button>
    </div>
  </header>
</div>