.ai_generated_prompt
{
    font-size: 1em;
    padding: 1%;
    font-weight: bold;
    color: white;
    box-shadow: 1px 1px 5px 0.3px #000000;
    border-radius: 10px;
    background-color: coral;
}

.prompt_choices, .description
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.description
{
    align-items: center;
    padding: 1%;
    width: 50%;
}

#story-container
{
    background-image: url('../imgs/book_background.jpg');
    background-size: 107% 100%;
    background-position: center center;
    background-repeat: no-repeat;
}

#story_description
{
    text-align: center;
    font-size: x-large;
    font-style: italic;
    letter-spacing: 1px;
    word-spacing: 2px;
    word-wrap:break-word;
    padding: 2%;
    border-radius: 15px;
    max-height: 340px;
    overflow: auto;
    scrollbar-width: none;
    box-shadow: 2px 1px 7px 0.3px #000000;
    color: black;
    
}

#controls
{
    width: 50%;
}
#body-container div
{
    padding: 4%;
}
.ai_generated_prompt:hover
{
    cursor: pointer;
}

.ai_generated_prompt:active
{
    background-color: red;
}

.ai_generated_prompt:disabled
{
    background-color: grey;
}
.navigation_button
{
    background-color: coral;
    font-weight: bold;
    border: none;
    box-shadow: 1px 1px 5px 0.3px #000000;
    padding: 1%;
}

#loading
{
    color: black !important;
    visibility: hidden;
}
#mainContent
{
    background-color: transparent;
}

#content
{
    color: #000000
}

#storyTitle
{
    font-size: 1em;
    font-weight: bold;
    text-shadow: 2px 1px 7px 0.3px #000000;
}

@media only screen and (max-width: 1000px) {
    #story-container
    {
        flex-direction: row !important;
    }
}