.isa_row
{
    display: flex;
    flex-direction: row !important;
}

.width-100
{
    width: 100% !important;
}

.justify-content-evenly
{
    justify-content: space-evenly;
}

.align
{
    align-content: center;
    align-items: center;
}

.align-self-center
{
    align-self: center;
}
.justify-content-center
{
    justify-content: center;
}

.justify-content-between
{
    justify-content: space-between;
}

.justify-content-end
{
    justify-content: flex-end;
}

#user-table-div div {
    width: 25%;

}
.scrollable
{
    overflow-y: auto;
    max-height: 600px;
    scrollbar-width: none;
}

.isa_col
{
    display: flex;
    flex-direction: column;
    
}

#mainContent
{
    justify-content: center;
    gap: 10px;
    padding: 7%;
}
.main_container
{
    padding: 5%;
    width: 100%;
    border-radius: 25px;
}

#login_form, #suggestions_container, #story-container
{
    gap: 10px;
}

#index_form
{
    gap: 15px;
}
.main_container, #suggestions_container, #login-form, #index_form
{
    flex-direction: column;
    align-items: center;
}



#story-container
{
    /* padding: 10%; */
}
.image-container
{
    width: 50%;
    height: 100%;
}

#story-container img
{
    width: 100%;
    border-radius: 25px;
    box-shadow: 2px 1px 7px 0.3px #000000;
}

.anchorLinkDesign
{
    text-decoration: underline;
    color: #0000EE;
    cursor: pointer;
}

.anchorLinkDesign:active
{
    color: #FF0000;
}

@media only screen and (max-width: 1000px) {
    .isa_row
    {
        flex-direction: column !important;
    }
}