.main_container, #suggestions_container, #login_form, #index_form, #story-container, #mainContent
{
    display: flex;
    /* align-items: center; */
}

.row
{
    display: flex !important;
    flex-direction: row !important;
    /* gap: 0px !important; */
    justify-content: center;
}

#user-table-div div {
    width: 25%;

    /* display: flex; */
}

.scrollable
{
    overflow-y: auto;
    max-height: 600px;
    scrollbar-width: none;
}
.col
{
    display: flex !important;
    flex-direction: column !important;
    flex-wrap: wrap !important;
}

.col div {
    padding: 5%;
}
#mainContent
{
    justify-content: center;
    gap: 10px;
    padding: 7%;
}
.main_container
{
    padding: 5%;
    width: 100%;
    border-radius: 25px;
}

#login_form, #suggestions_container, #story-container
{
    gap: 10px;
}

#index_form
{
    gap: 15px;
}
.main_container, #suggestions_container, #login-form, #index_form
{
    flex-direction: column;
    align-items: center;
}

#story-container
{
    background-image: url('../imgs/book_background.jpg');
    background-size: 105% 100%;
    /* background-size:cover; */
    background-position: center center;
    background-repeat: no-repeat;
    
    flex-direction: row;
    text-align: center;
    gap: 10%;
}

#story-container
{
    padding: 10%;
}
.image-container
{
    width: 50%;
    height: 100%;
}

#story-container img
{
    width: 100%;
    border-radius: 25px;
    box-shadow: 2px 1px 7px 0.3px #000000;
}

.anchorLinkDesign
{
    text-decoration: underline;
    color: #0000EE;
    cursor: pointer;
}

.anchorLinkDesign:active
{
    color: #FF0000;
}

@media only screen and (max-width: 1000px) {
    .row
    {
        flex-direction: column !important;
    }

    .row div {
        width: 100%;
    }
}